body{
background-color: #1b2a1b;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #d2ebeb;
font-size: 2rem;
margin: 0;
width: 100%;
}

#title{
    height: 40rem;
    padding: 2rem;
    background-image: url("./src/zdjęcie\ główne\ adrianna\ złoch.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-wrap: wrap;
    position: inherit;    
}

img {
    max-width: 100vw;
}

.motto{
    display: block;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(50, 51, 50, 0.8); 
    box-shadow: #1b2a1b 1rem 1rem ;
    position: relative; bottom: -15rem;
}

